@charset "UTF-8";
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto";
  margin: 0;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  /* padding: 24px 0px 25px; */
}

.flex-header {
  display: flex;
  align-items: center;
}

.flex-header-portfolio {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}

/* Логотип вебстудио */
.logo {
  color: #212121;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  display: flex;
}

.accent-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}

/* почта и эмейл */
.flex-header-address {
  display: flex;
}

.address-header-list {
  margin-left: auto;
}

.address-header-item {
  display: flex;
  align-items: center;
}

.address-header-item:hover {
  color: #2196f3;
  fill: #2196f3;
}

.address-header-link {
  color: var(--add-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.28px;
  min-width: 161px;
  display: flex;
  align-items: center;
}

.address-header-list + .address-header-list {
  margin-right: 50px;
}

.navigation ol li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  color: #2196f3;
}

a:active {
  color: #2196f3;
  text-decoration: none;
}

.navigation-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
}

.navigation-link::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  top: 44px;
  opacity: 0;
  transition: opacity 500ms ease, transform 500ms ease;
  transform: scale(0);
}

.navigation-link:hover::after {
  opacity: 1;
  transform: scale(1);
}

.navigation-list {
  padding-left: 93px;
}

.flex-navigation-list {
  display: flex;
  /* padding-left: 93px; */
}

.navigation-item + .navigation-item {
  margin-left: 50px;
}

.addr-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.address-header-link:hover .addr-icon {
  fill: var(--accent-color);
}

.address-header-link:hover {
  color: var(--accent-color);
}

.address-header-item + .address-header-item {
  margin-left: 50px;
}

.logo-logo-footer {
  background-color: hsl(235, 10%, 21%);
  padding-top: 72px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-position {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  margin-top: 9px;
}

.footer-item + .footer-item {
  margin-top: 9px;
}

.footer-addr {
  min-width: 231px;
}

.logo-footer-title {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  display: block;
  margin-bottom: 20px;
}

.google_link_text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.our-contacts {
  width: 206px;
  padding-left: 70px;
  padding-right: 70px;
  margin-right: auto;
}

.contacts-desc {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.contacts-list {
  display: flex;
  gap: 12px;
  padding-top: 20px;
}

.contacts-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  background-color: #2196f3;
  box-shadow: 1px 1px 10px 1px black;
}

/* .contacts-link:hover , .contacts-link */
.contacts-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.newsletter {
  width: 570px;
  height: 86px;
}

.newsletter-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  min-width: 207px;
  padding-bottom: 20px;
}

.newsletter-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  margin-right: 12px;
  padding-left: 15px;
  color: #fff;
}

.form-footer {
  display: flex;
}

.hero-section-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  margin: auto;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  animation-name: button;
  animation: button 5000ms linear infinite 1000ms;
}
@keyframes button {
  0% {
    background: #2196f3;
    color: #fff;
  }
  50% {
    background: #fff;
    color: #2196f3;
  }
  100% {
    background: #2196f3;
    color: #fff;
  }
}

.newsletter-btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.newsletter-btn-svg {
  width: 24px;
  height: 24px;
}

.save-data-btn {
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-left: 165px;
  margin-right: 165px;
}

.save-data-btn {
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-left: 165px;
  margin-right: 165px;
}

.filters-button {
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.48px;
  width: 73px, 125px, 112px, 103px, 130px;
  height: 38px;
  text-align: center;
  padding: 6px 22px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 2px 2px 10px 2px black;
}

@media screen and (min-width: 480px) {
  .hero-section {
    background-image: url(../../images/hero-mobile.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-section .hero-section-title {
    width: 360px;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
  }
}
.hero-section-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  padding-bottom: 40px;
  width: 696px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .flex-opportunities,
  .flex-opportunities-list {
    display: block;
  }
  .flex-opportunities .antenna::before,
  .flex-opportunities-list .antenna::before {
    content: " ";
    display: block;
    width: 450px;
    height: 120px;
    background-image: url(../images/antenna1.svg), url(../images/opportunities-bg-color.jpg);
    background-size: 70px, 450px 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  .flex-opportunities .clock::before,
  .flex-opportunities-list .clock::before {
    content: " ";
    display: block;
    width: 450px;
    height: 120px;
    background-image: url(../images/clock1.svg), url(../images/opportunities-bg-color.jpg);
    background-size: 70px, 450px 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  .flex-opportunities .diagramm::before,
  .flex-opportunities-list .diagramm::before {
    content: " ";
    display: block;
    width: 450px;
    height: 120px;
    background-image: url(../images/diagram1.svg), url(../images/opportunities-bg-color.jpg);
    background-size: 70px, 450px 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  .flex-opportunities .astronaut::before,
  .flex-opportunities-list .astronaut::before {
    content: " ";
    display: block;
    width: 450px;
    height: 120px;
    background-image: url(../images/astronaut1.svg), url(../images/opportunities-bg-color.jpg);
    background-size: 70px, 450px 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  .flex-opportunities .opportunities-list-title,
  .flex-opportunities-list .opportunities-list-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: end;
    color: #212121;
  }
  .flex-opportunities .opportunities-info,
  .flex-opportunities-list .opportunities-info {
    width: 450px;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
.opportunities {
  padding-top: 94px;
  padding-bottom: 118px;
}

/* .opportunities-item + .opportunities-item {
  margin-left: 30px;
} */
.opportunities-image-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-left: 0 auto;
}

.opportunities-image-item + .opportunities-image-item {
  padding-left: 30px;
}

.opportunities-list-title {
  width: 270px;
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  padding-bottom: 10px;
}

/* .opportunities-list-title::before {
  display: block;
  content: '';
  background-image: url(../images/opportunities-bg-color.jpg);
  background-size: 270px;
  background-repeat: no-repeat;
  background-position: 0%;
} */
.opportunities-info {
  width: 270px;
  height: 72px;
  color: var(--add-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

@media screen and (min-width: 480px) {
  .employment {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .team-img {
    width: 450px;
    height: 460px;
  }
  .team-item {
    border-radius: 0 0 4px 4px;
    width: 450px;
    height: 622px;
  }
  .team-item + .team-item {
    margin-bottom: 40px;
  }
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  gap: 30px;
}

.team-card {
  padding-top: 30px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}

.team-name {
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.48px;
  padding-bottom: 10px;
}

.team--desc {
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.48px;
  padding-bottom: 30px;
}

.team-item {
  flex-basis: calc((100% - 60px) / 4);
}

.icon-list {
  display: flex;
}

.team-svg-list {
  display: flex;
  width: 206px;
  padding-bottom: 30px;
  justify-content: space-around;
  margin: 0 auto;
}

.icon-item {
  fill: #AFB1B8;
  height: 20px;
  width: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #2196f3;
}

.link-icon:hover .icon-item {
  fill: #fff;
}

.link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  padding: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:hover,
.backdrop:focus {
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.modal-desc {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal-close-svg {
  fill: #212121;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 11px;
  height: 11px;
}

.modal-close-svg:hover {
  fill: #2196f3;
}

.modal-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 11px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 40px;
}

.modal-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: flex;
  margin-bottom: 5px;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 35px;
}

.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-input:focus .modal-icon {
  fill: #2196f3;
}

.input-comment {
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-bottom: 90px;
}

.input-comment::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  display: block;
}

.input-comment::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  display: block;
}

.modal-icon {
  width: 13px;
  height: 12px;
  position: absolute;
  top: 32px;
  left: 12px;
}

.modal-info {
  margin-bottom: 25px;
}

.agreement-label {
  margin-left: 52px;
}

.checkbox {
  margin-right: 5px;
}

.checkbox-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-div {
  display: flex;
  align-items: center;
}

.link-agreement {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
  padding-left: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* .backdrop:hover,
.backdrop:visited {
  visibility: visible;
  opacity: 1; 
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.modal-desc {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal-close-svg {
  fill: #212121;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 11px;
  height: 11px;
}

.modal-close-svg:hover {
  fill: #2196f3;
}

.modal-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 11px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 40px;
}

.modal-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: flex;
  margin-bottom: 5px;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 35px;
}

.input-comment {
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-bottom: 90px;
}

.input-comment::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  display: block;
}

.input-comment::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  display: block;
}

.modal-icon {
  width: 13px;
  height: 12px;
  position: absolute;
  top: 32px;
  left: 12px;
}

.modal-info {
  margin-bottom: 25px;
}

.agreement-label {
  margin-left: 52px;
}

.checkbox {
  margin-right: 5px;
}

.checkbox-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-div {
  display: flex;
  align-items: center;
}

.link-agreement {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
  padding-left: 5px;
}

@media screen and (min-width: 480px) {
  .customers-name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
  }
}
.customers-section {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 94px;
}

.customers-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover {
  border-color: #2196f3;
  box-shadow: 2px 2px 10px 2px black;
}

.customers-icon {
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 23px;
  margin-bottom: 23px;
  fill: #AFB1B8;
}

.customers-link:hover .customers-icon {
  color: #2196f3;
  fill: #2196f3;
}

.ya-co {
  width: 41px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.icon-company-tag-line-here {
  width: 40px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.icon-company {
  width: 45px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.icon-foster-peters {
  width: 84px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.icon-brand {
  width: 63px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.icon-company-tag-line {
  width: 94px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.filters-item + .filters-item {
  margin-left: 8px;
}

.flex-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* наши проекти */
.projects-title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}

.projects-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
  padding-bottom: 20px;
}

.flex-project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}

.project-list-card {
  padding-top: 20px;
  padding-left: 24px;
  border: 1px solid #EEE;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-img {
  width: 100%;
}

.projects-item {
  border: 1px solid #eee;
  flex-basis: calc(33.3333333333% - 30px);
}

.projects-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay:hover .overlay-title {
  transform: translateY(0%);
}

.overlay-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 23px;
  transform: translateY(100%);
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */