.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/bg-hero-section.png);
    max-width: 1600px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section-title {
    color: $white;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    padding-bottom: 40px;
    width: 696px;
    margin: 0 auto;
}